/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* light green background */
    color: #2e7d32; /* dark green text */
}

/* Navbar */
nav {
    background-color: darkslategrey;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: black;
}

/* Content Area */
.content {
    padding: 30px;
}

/* Form Styles */
form {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 40px auto;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"],
form input[type="date"],
form input[type="time"],
form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 2px solid #000000
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

form input[type="submit"] {
    width: 100%;
    background-color: darkslategrey;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: lightslategrey;
}


/* Heading Styles */
h1, h2 {
    color: black;
}

/* Paragraph Text */
p {
    font-size: 18px;
    line-height: 1.6;
    color: black;
}

/* Sighting Cards */
.sighting-card {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border: 1px solid #c8e6c9;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sighting-card img,
.sighting-card video {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #388e3c;
    font-weight: bold;
}

.pagination a:hover {
    text-decoration: underline;
}

/* Hover effect for team cards */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
