{% extends "base.html" %}

{% block content %}
<h1>Our Mission</h1>

<p style="font-size:20px">
In November 2023, Wildlife Queensland launched a Greater Glider Christmas Appeal to fund a critical project aimed at enhancing our understanding of greater glider behaviour, habitat preferences and movement patterns in South East Queensland.
</p>

<p style="font-size:20px">
The greater glider (Petauroides volans), uplisted to Endangered in 2022 under Australia’s national environmental law, inhabits old-growth forests. Their decline is driven by land clearing, forest degradation and climate change.
</p>

<p style="font-size:20px">
As urban expansion and other developments encroach on their habitat, greater gliders face severe population declines, reduced breeding opportunities, and loss of genetic diversity, pushing them to the brink of existence.
</p>

<p style="font-size:20px">
Focusing on spatial ecology, denning habits and preferred feed trees, the project will involve fitting gliders with radio-tracking collars to gain insights into their movements, home range, denning locations and dietary preferences. Additionally, it includes a detailed study of microhabitats to optimise nest box placement.
</p>

<h2>Key Objectives</h2>

<p style="font-size:20px">
Phase one: Optimising environmental conditions:
The project’s first phase focuses on determining the ideal environmental conditions within greater glider hollows. Data loggers will be placed in their favoured trees, nest boxes and hollows to record temperature and humidity, with comparisons made across different seasons and populations.
</p>

<p style="font-size:20px">
Phase two: Understanding behaviour and habitat preferences:
The second phase involves identifying the preferred trees, hollows and nest boxes for greater gliders. Expert tree climbers and ecologists will capture individual gliders to study their travel distances and den-sharing patterns, with VHF collars attached to monitor their movements.
</p>

<iframe width="800" height="600" src="https://www.youtube.com/embed/fh2Cnpq171Y?si=FOM55OFEuisZWz8G"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}
